body {
    font-family: 'Arial', sans-serif;
    background-color: #101820;
    background-image: radial-gradient(circle, #2d3436, #101820);
    color: #dfe6e9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #f39c12;
    margin-bottom: 40px;
    font-size: 3em;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #f39c12;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #2f3640;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #f39c12;
    color: #101820;
    transform: scale(1.05);
}