
body {
    font-family: 'Arial', sans-serif;
    background-color: #101820; 
    background-image: radial-gradient(circle, #2d3436, #101820); 
    color: #dfe6e9;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
}


h1 {
    text-align: center;
    color: #f39c12; 
    font-size: 2.8em;
    margin-top: 20px;
}


p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.1em;
    background-color: #2f3640; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #181818; 
    color: #b2bec3;
    text-align: center;
    padding: 15px;
    border-top: 2px solid #f39c12;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.5); 
}

footer a {
    color: #f39c12; 
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 2.2em;
    }

    footer {
        font-size: 0.9em;
    }
}
