<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crítica de Filme: As Crônicas de Nárnia</title>
    <link rel="stylesheet" href="/css/catalagoCss/narnia.css">
</head>
<body>
    <div class="container">
        <h1>Crítica: As Crônicas de Nárnia - O Leão, a Feiticeira e o Guarda-Roupa</h1>
        <img src="/imagens/as cronicas de narnia 1.jpg" alt="Cena de As Crônicas de Nárnia" class="movie-image">
        <div class="comment">
            <p>
                No coração da Segunda Guerra Mundial, quatro irmãos – Lúcia, Edmundo, Susana e Pedro – são enviados para uma casa de campo em segurança. Lá, a curiosa Lúcia descobre um guarda-roupa mágico que a transporta para Nárnia, um mundo encantado onde animais falam e seres mitológicos coexistem. Apesar da beleza do reino, ele está sob o domínio da cruel Feiticeira Branca, que impôs um inverno eterno e priva os habitantes de qualquer esperança. Com o tempo, todos os irmãos entram em Nárnia e se deparam com seu destino: cumprir uma antiga profecia que prediz a chegada de humanos que trarão liberdade ao reino. Eles se unem a Aslam, o majestoso leão e verdadeiro rei de Nárnia, em uma batalha épica contra as forças da feiticeira. Em meio a traições, redenções e sacrifícios, os irmãos aprendem lições sobre coragem, lealdade e perdão. O filme é uma jornada de amadurecimento e descoberta pessoal, que mescla fantasia, aventura e toques de espiritualidade, encantando tanto os mais jovens quanto adultos com seu simbolismo profundo e narrativa cativante.
            </p>
        </div>
        <div class="rating">
            Nota: ★★★★☆
        </div>
    </div>
</body>
</html>
