<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação</title>
    <link rel="stylesheet" href="/css/filmesCss/estilo.css">
</head>
<body>
    <h1>Bem vindo, a Plataforma de Avaliações de Filmes! </h1>
   
    <ul>
         <li><a href="visualizacao">Avaliação </a></li>
         <li><a href="sobreNos">Sobre Nós</a></li>
    </ul>
</body>
</html>