<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/filmesCss/estilo.css">
    <title>Avaliação de Filmes</title>
</head>
<body>
    <h1>Página Avaliação</h1>

    <form action="/home" method="post">
        <label for="">Usuario</label>
        <input type="text" name="usuario" id="">

        <label for=""method="post">Senha</label>
        <input type="password" name="senha" id="">
        
        <input type="submit" value="enviar">
    </form>
</body>
</html>

