<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/filmesCss/sobreNos.css">
</head>
<body>
    <h1>Sobre Nós</h1>
    <p>Tudo começou com um grupo de amigos, unidos pela paixão em comum pelo cinema. Em longas noites, debatíamos sobre as últimas estreias, as nuances de clássicos e a magia que a sétima arte era capaz de proporcionar. A vontade de compartilhar essa paixão com outras pessoas e de criar um espaço onde pudéssemos celebrar o cinema de forma profunda e significativa nos impulsionou a dar vida a este projeto.

    Nascido do sonho de construir uma comunidade de cinéfilos, nosso site é mais do que apenas um conjunto de críticas. É um refúgio para todos aqueles que buscam análises completas, opiniões sinceras e recomendações personalizadas. Nossa missão é democratizar o acesso à crítica cinematográfica, oferecendo análises acessíveis e completas para todos os públicos. Queremos que você descubra novos filmes, reavive a paixão por clássicos esquecidos e compreenda melhor a linguagem cinematográfica.

    Nossa equipe de críticos apaixonados se dedica a analisar cada detalhe de um filme, desde a história e a direção até a atuação e a trilha sonora. Nossas críticas são escritas com o objetivo de informar e inspirar, mas também de provocar o debate e a reflexão. Acreditamos que o cinema é uma forma de arte que nos conecta e nos transforma, e queremos que você faça parte dessa jornada conosco.</p>

    <footer>
        <p>&copy; 2024 Críticas de Filmes. Todos os direitos reservados. Desenvolvido com <a href="#">paixão pelo cinema</a>.</p>
    </footer>
</body>

</html>